.nav{
    display: flex;
    flex: 1;
    flex-direction: row;
    background: cadetblue;
    padding-left: 3vw;
}
.nav span{
    padding: 1vw;
    font-weight: bold;
    cursor: pointer;
}
.nav span.active{
    background: darkseagreen;
}

.nav span.username{
    font-weight: 500;
}
.nav span.logout{
    font-weight: 500;
    text-decoration: underline;
}